<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>This is custom page without layout</title>
</head>

<body>
    <header>
        <img src='/img/logo.png' alt="Maity's Travel Logo">
    </header>
    <h1>This page doesn't use any layout </h1>
</body>

</html>