<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>Maity's Travel</title>
</head>

<body>
	<h1>This is what is do</h1>
    <header>
        <img src='/img/logo.png' alt="Maity's Travel Logo">
    </header>
    {{{body}}}
    <footer>copyright</footer>
</body>

</html>